<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>30118</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <header>
        <div class="logo-and-title">
            <img src="/static/images/logo.png" alt="Logo" style="height: 50px; vertical-align: middle;">
            <h1 style="text-align: left; padding-left: 20px; display: inline-block; font-size: 29.3px">AdventureWorkshop
            </h1>
        </div>
        <ul class="inline-buttons">
            <div class="cart-and-logout">
                <a href="{{ url_for('cart') }}">
                    <img src="/static/images/cart-icon.png" alt="Giỏ hàng" class="cart-icon">
                </a>
                <form method="post" action="{{ url_for('logout') }}">
                    <button type="submit">Log out</button>
                </form>
            </div>
        </ul>
    </header>
    <main>
        <section>
            <h2 style="font-size: 29px;">Recommended for you</h2>
            <div class="product-listing">
                {% if products_info %}
                    {% for product in products_info %}
                    <li>
                        <h2>{{ product['name'] }}</h2>
                        <p>Price: {{ product['price'] }}</p>
                        <img src="/static/images/{{ product['image'] }}" alt="{{ product['name'] }}" width="100">
                    </li>
                    {% endfor %}
                {% else %}
                    <p>No recommendations available at this moment.</p>
                {% endif %}
            </div>
        </section>
    </main>    
    
    <footer>
        <p>Contact us: nckh@gmail.com</p>
        <p>Copyright © 2023</p>
    </footer>
</body>

</html>